<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="border-bottom navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand"></a>
          <form class="d-flex"style="margin-top:2%; padding-right:5em">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
        <h1>Welcome to Gojjo Website!!</h1>
</body>
</html>