body {
    background-color: aqua;
}
.container {
    width: 60%;
    height: auto;
}
#form{
    margin-top: 7%;
    margin-bottom: 2%;
    /* background-color: black; */
}
body > div.row {
    background-color: #353839;
    opacity: .8;
    color: white;
}
#instructors {
    background-color: #555555;
    color: black;
    padding-bottom: 3%;
}