.nav-link{
    color: rgb(38, 191, 238);
    font-weight: bold;
}

.active { 
    background-color:coral; 
    color: white;
    border-radius: 5px;
}

.nav-item{
    margin-right: 0.5%;
}

.about{
    padding:5% 0 5% 0;
}
.button{
    margin:10% 0 10% 0;
}
.my_button{
    text-decoration: none;
    background-color: rgb(168, 135, 73);
    color:white;
    margin:10% 0 10% 0;
    padding:15Px;
    border-radius: 10px;
}
.contact{
    display:flex;
    list-style-type: none;
}
.contact li{
    padding:10px;
}
