.justify-content-end{
    margin: 1%;
    margin-top: 1%;
    color: black;
}
header{
    padding: 1%;
    background-color: rgb(243, 241, 240);
    border-bottom: 1px solid;
    /* border-top: 1px solid; */
}
.nav-link{
    color: rgb(38, 191, 238);
}

.active { 
    background-color:coral; 
    color: white;
}

.nav-item{
    margin-right: 4%;
}
.justify-content-end{
    margin-right: 5%;
}
.about{
    padding:5% 0 5% 0;
}
.button{
    margin:10% 0 10% 0;
}
.my_button{
    text-decoration: none;
    background-color: white;
    color:black;
    margin:10% 0 10% 0;
    padding:15Px;
    border-radius: 10px;
}
.contact{
    display:flex;
    list-style-type: none;
}
.contact li{
    padding:10px;
}