<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gojjo Rental Application</title> 
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body style="color: white;">
        <div class="row">
          <div class="col">
            <div>
                <img src="/images/gojjo-logo1.png" alt="">
            </div>
          </div>
          <div class="col" style="background-color: #333;">
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link " aria-current="page" th:href="@{index}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" th:href="@{homeList}" >Home List</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">Contact</a>
                    </li>
                  </ul>
                <div>
                    <h1>ABOUT US</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eum, hic, odio iste impedit earum, id voluptates est itaque nostrum sit tenetur expedita. Dolore sapiente qui distinctio perspiciatis excepturi aut?</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At ut esse a illum necessitatibus quidem est architecto natus inventore. Nostrum modi veniam doloremque, commodi laboriosam repellendus assumenda impedit facere delectus!</p>
                    <button onclick="">contact</button>
                </div>
                <footer>
                    <ul>
                        <li>facebook</li>
                        <li>telegram</li>
                        <li>instagram</li>
                    </ul>
                </footer>
            
          <!-- </div>
        </div>
      </div>
    <div class="container">
        <div>
            <img src="C:\Users\pc\Test-GOJJO\src\main\resources\static\images/gojjo-logo1.png" alt="">
        </div>
        <div>
            <ul>
                <li>home</li>
                <li>homeList</li>
                <li>profile</li>
                <li>contact</li>
            </ul>
            <div>
                <h1>ABOUT US</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eum, hic, odio iste impedit earum, id voluptates est itaque nostrum sit tenetur expedita. Dolore sapiente qui distinctio perspiciatis excepturi aut?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At ut esse a illum necessitatibus quidem est architecto natus inventore. Nostrum modi veniam doloremque, commodi laboriosam repellendus assumenda impedit facere delectus!</p>
                <button onclick="">contact</button>
            </div>
            <footer>
                <ul>
                    <li>facebook</li>
                    <li>telegram</li>
                    <li>instagram</li>
                </ul>
            </footer>
        </div>
    </div>-->
</body>
</html> 